.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EEF1F8;

}

.wrapper_child {
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 940px;
    height: 484px;
    padding: 20px;
  }
  h1{
    color: #000000;
    font-size: 20px;
    letter-spacing: -0.1px;
    line-height: 34px;
  }
  .logo{
      width: 180px;
      height: 180px;
      border: 2px dashed #B7CDFF;
      display: flex;
      justify-content: center;
      align-items: center;

  }
  .logo img{
      background-size: cover;
  }