@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-shadow: none !important;
}
body{
    font-family: 'Source Sans Pro', sans-serif !important;

}
.main_nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    margin: 0 40px;
}
.main_nav div{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}
.product_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

}.product_navbar div{    
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}
.wrapper{
    display: flex;    
    background: #EEF1F8;
}
.left{
    width: 280px;
    background: #ffffff;
    margin-top: 5px;
}
.left ul li{
    list-style: none;
    padding: 20px;
    margin: 5px;
}
.left ul li > i{
    padding: 5px 10px;
}
.left ul li:hover{
    background: #F7F7F7;
    color: #E73955;
}
.right{
    width: 100%;
    background: #FFFFFF;
    margin: 25px;
    padding: 20px;
}
.profile_image {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}
.notification {
    width: 20px;
    height: 30px;
}
h1{
    font-size: 20px;
    font-weight: 800;
}
.right_left{
        background-color: #FFFFFF;
        border-radius: 5px;
}
.right_right{
        background-color: #FFFFFF;
        border-radius: 5px;
        width: 370px;
        padding: 25px;
        margin-top: 25px;
        margin-right: 25px;
}
.button-primary{
    background: #319BF5;
    color: #ffffff;
    border: none;    
    width: 125px;
    height: 44px;
    border-radius: 3px;
}
.button-secondary{
    background: #E2F2FF;
    color: #000000;
    border: none;    
    width: 125px;
    height: 44px;
    border-radius: 3px;
    margin-right: 10px;
}

